.matches-container {
  flex: 0.25;
  border-right: 1px solid silver;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
.profile > h3 {
  margin-left: 15px;
}

.accordion > .MuiAccordion {
  border: '0px solid rgba(0, 0, 0, .125)' !important;
}

.MuiPaper-root {
  position: unset !important;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}